.card {
    background-color: $tan;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 1em;
    width: 300px;
    height: 300px;
    padding: 1em;

    &:hover {
        border: 2px solid $brown;
        cursor: pointer;
    }

    &__icon {
        text-align: center;
    }
    
    &__content {
        text-align: center;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}