// color pallette: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373
$cream: #FEFAE0;
$light-green: #E9EDC9;
$dark-green: #CCD5AE;
$tan: #FAEDCD;
$brown: #D4A373;

$white: #fff;
$black: #000;