.header {
    background-color: $dark-green;

    &__flexbox {
        @extend .container;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__icon img {
            height: 70px;
            width: 70px;
        }

        &__nav {
            display: flex;
        }
    }
}

.footer {
    background-color: $dark-green;
    height: 4em;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    align-items: center;

    a {
        color: $black;
        padding: 1em;
        text-decoration: none;
        display: none;

        &:hover {
            color: $black;
        }
    }
}

.mobile-nav {
    display: block;
    position: relative;

    &__hamburger {
        font-size: 2em;
    }
}

@include media-breakpoint-up(md){
    .header__flexbox {
        flex-direction: row;
    }

    .main-nav {
        a {
            display: inline-block;
        }
    }

    .mobile-nav {
        display: none;
    }
}