.fish-detail,
.bug-detail {
    display: flex;
    justify-content: center;

    &__container {
        background-color: $tan;
        text-align: center;
    
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__image-container {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    
        &__fish-info {
            background-color: $brown;
            width: 100%;
            padding: 2em;

            &__tabular {
                .row {
                    margin: 1.5em 0;

                    div:nth-child(1) {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}


@include media-breakpoint-up(md) {
    .fish-detail,
    .bug-detail {
        margin: 2em 0;

        &__container {
            border-radius: 2em;
            max-width: 50vw;

            &__fish-info {
                border-radius: 0 0 2em 2em;

               &__tabular {
                  .row {
                    & > div:nth-child(1) {
                        text-align: left;
                        font-weight: bold;
                    }

                    & > div:nth-child(2) {
                        text-align: right;
                    }
                }
               }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .fish-detail,
    .bug-detail {
        &__container {
            &__fish-info {
               &__tabular {
                  padding: 0 4em;

                  .row {
                        div:nth-child(1) {
                            text-align: left;
                            font-weight: bold;
                        }

                        div:nth-child(2) {
                            text-align: right;
                        }
                    }
               }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .fish-detail,
    .bug-detail {
        &__container {
            &__fish-info {
                &__tabular {
                    padding: 0 8em;

                    .quote-row {
                        div:nth-child(1) {
                            text-align: center;
                        }
                        div:nth-child(2) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}