* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $cream;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $black;
        font-weight: bold;
    }
}

a.distinct {
    color: $brown;
}