* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $cream;
}

a {
    color: $brown;
    text-decoration: none;

    &:hover {
        color: $brown;
        font-weight: bold;
    }
}
