.item-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    a {
        padding: 1em 0;
    }
}

@include media-breakpoint-up(md) {
    .item-flexbox {
        flex-direction: row;

        & > a {
            margin: 1em
        }
    }
}