.home {
    padding: 1em;

    // &__heading {
    //     padding: 2em;
    //     background-color: $tan;
    //     border-radius: 2em;
        
    //     h1 {
    //         font-weight: 400;
    //         text-align: center;
    //     }
    // }

    // &__opening {
    //     margin: 1em;
    //     padding: 2em;
    //     background-color: $white;
    //     border-radius: 2em;

    //     height: 10em;
    // }
}

.error {
    text-align: center;
    padding: 10em 0;
}


@include media-breakpoint-up(md) {
    .home {
        padding: 2em 0;
    }
}