.home {
    height: 90%;

    &__intro {
        margin: 2em;
        padding: 2em;
        background-color: $tan;
        border-radius: 2em;
        
        text-align: center;

        h1 {
            font-weight: 400;
        }
    }
}