.home {
    &__heading {
        margin: 2em;
        padding: 2em;
        background-color: $tan;
        border-radius: 2em;
        
        h1 {
            font-weight: 400;
            text-align: center;
        }
    }


}